body{ color: white;
    font-size:28px;
    background-color: #2042a8db;
    opacity:1;}

body.recipe{ 
    background-image: url(https://media.istockphoto.com/id/1132635775/photo/mexican-decorated-kitchen.jpg?s=612x612&w=0&k=20&c=xj4N62SxRSafkXgcrj1AcBUH_UzdrFoqFjyMeAcpTh8=);
   background-repeat: no-repeat; 
   background-size: cover;
}
.splashimg{
    display:block; 
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}
.center{    
    text-align: center;
}

ol li{list-style: none;
}

#topcontainer{
    border-radius: 15px ;
    padding: 12px;
    opacity: 1;

    

}
#secondcontainer{
    background-color:#edd8245e;
    border-radius:12px;
    padding:10px;
    opacity: .9;
  
}


#mole{
    background-color: #edd8245e;
    border-radius:14px;
    padding:12px;
    opacity:0.8;
}



.center2{
    text-align: center;
}

.button-container{
    display:flex;
    justify-content:center; 
    align-items: center;  

}

.animatedbox{
    width: 100px;
    height:100px;
    position: absolute;right;
    animation: fadein 4s infinite;
}

@keyframes fadein {
0% {
    opacity: 0%;
}
100% {
    opacity:100%;
}


}

@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to{
        opacity:1;
    }
}
  
.fadein{
    animation: fadeIn 4s ease-in-out;
    opacity: 0;
}